/* imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

/* nav section */
nav,
.menu {
  display: flex;
}

.head {
  font-size: 2rem;
}

.menu {
  font-size: 1.2rem;
}

nav {
  color: #ffffff;
  background-color: #000000;
  height: 125px;
  justify-content: space-evenly;
  align-items: center;
}

nav:hover {
  cursor: default;
}

.menu {
  cursor: pointer;
  gap: 3.5rem;
  list-style: none;
}

.nav-li,
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

/* hero section */
#hero {
  padding-top: 24rem;
  height: 42vh;
}

.hero-container {
  align-items: center;
  text-align: center;
  cursor: default;
}

.hello {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.name {
  color: #ffffff;
  font-size: 2.5rem;
  -webkit-text-stroke: 1px #000000;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;

  animation: typing 3.5s steps(30, end);
}

.profession {
  font-size: 1.5rem;
}

.github {
  margin-top: 1.5rem;
  height: 35px;
  width: 35px;
}

.fiverr {
  height: 35px;
  width: 35px;
}

.x {
  height: 35px;
  width: 35px;
}

.linkedin {
  height: 35px;
  width: 35px;
}

/* skill section */
#skills {
  padding-top: 25px;
  height: fit-content;
  margin: 120px;
  cursor: default;
}

.about-skills {
  color: #040404;
  text-align: center;
  font-size: 1.3rem;
}

.about-skills:hover {
  color: #008cff;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.industry {
  color: #000000;
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem;
}

.skills-container {
  cursor: default;
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.front-back {
  cursor: default;
  display: flex;
  justify-content: center;
  gap: 18.5rem;
  margin-bottom: 10px;
}

.front-li,
.back-li {
  color: #000000;
  margin-bottom: 20px;
}

.frontend,
.backend {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border: 5px solid #000000;
  font-size: 25px;
  border-radius: 25px;
}

.ri-html5-fill {
  color: #ff8a21;
  font-size: 25px;
}

.ri-css3-fill {
  color: #37a4ff;
  font-size: 25px;
}

.ri-javascript-fill {
  color: #eeba3f;
}

.ri-tailwind-css-fill {
  color: #00e0ff;
}

.frontend-list,
.backend-list {
  list-style: none;
}

.ri-nodejs-line {
  color: #a1ff00;
}

.ri-reactjs-line {
  color: #00d9ff;
}

/* project section */
#projects {
  display: flex;
  cursor: default;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.project-head {
  text-align: center;
  font-size: 1.3rem;
}

.project-head:hover {
  color: #008cff;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #000000;
  border-radius: 25px;
  height: 720px;
  width: 720px;
}

/* contact section */
#contacts {
  display: flex;
  flex-direction: column;
  cursor: default;
  justify-content: center;
  align-items: center;
}

.contact-head {
  text-align: center;
  font-size: 1.3rem;
}

.contact-head:hover {
  color: #008cff;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 30px;
  gap: 5px;
  border: 5px solid #000000;
  border-radius: 25px;
  height: 200px;
  width: 720px;
}

/* footer section */
#footer {
  cursor: default;
  margin-bottom: 5px;
}

.footer-text {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.emailfooter:hover {
  color: #ff5e5e;
}

/* keyframes */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(13deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
